@{ var offices = (List<DataModel.Modal.Office>)ViewData["Offices"]; }

@{
    ViewBag.Title = "Targets";
}

<div class="row">
    <div class="col-lg-12">
        <div id="page-header" class="clearfix">
            <div class="page-header">
                <h2>Targets</h2>
            </div>
        </div>
        <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <div class="panel-heading">
                <h4 class="panel-title">Add Offices Targets</h4>
            </div>
            <div class="panel-body">
                <div class="col-lg-12" id="divTargetBulkInsert">
                    <form action="@Url.Action("Add", "Audiences")" method="post">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Office</th>
                                    <th>Due Date</th>
                                    <th>Booking Target</th>
                                    <th>Fund Raising Target(in $)</th>
                                    <th>GSB Target(in $)</th>
                                    <th>Arrivals Targets</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="divTargetBulkInsertRow">
                                    <th class="col-lg-2">
                                        <div class="form-group">
                                            <select id="dwnOffices" class="chosen-select form-control dwnOffices">
                                                <option value="0">Select Office</option>
                                                @foreach (var office in offices)
                                                {
                                                    <option value="@office.OfficeId">@office.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </th>
                                    <th class="col-lg-2">
                                        <div class="form-group">
                                            <input type="text" name="VisitDate" class="form-control txtDueDate" placeholder="Select Date" value="@DateTime.Now.ToString("MM/dd/yyyy")" />
                                        </div>
                                    </th>
                                    <th class="col-lg-2">
                                        <div class="form-group">
                                            <input type="text" name="Amount" class="form-control txtBookingTarget" id="txtBookingTarget" placeholder="0" />
                                        </div>
                                    </th>
                                    <th class="col-lg-2">
                                        <div class="form-group">
                                            <input type="text" name="Amount" class="form-control txtDonationAmount" id="txtDonationAmount" placeholder="0.00" />
                                        </div>
                                    </th>
                                    <th class="col-lg-2">
                                        <div class="form-group">
                                            <input type="text" name="Amount" class="form-control txtGSBAmountTarget" id="txtGSBAmountTarget" placeholder="0.00" />
                                        </div>
                                    </th>
                                    <th class="col-lg-2">
                                        <div class="form-group">
                                            <input type="text" name="Amount" class="form-control txtArrivalTargets" id="txtArrivalTargets" placeholder="0" />
                                        </div>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-primary pull-right" id="btnAddUsers">Add</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <div class="panel-heading">
                <h4 class="panel-title">Targets List</h4>
            </div>
            <div class="panel-body">
                <table id="targetList" class="display" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Due Date</th>
                            <th>Booking</th>
                            <th>FundRaising</th>
                            <th>GSB</th>
                            <th>Arrivals</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>