@{ ViewBag.Title = "Events"; }

<div class="row">
    <div class="col-lg-12">
        <div id="page-header" class="clearfix">
            <div class="page-header">
                <h2>Events</h2>
            </div>
            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; margin-top : 20px; ">
                <i class=" glyphicon glyphicon-calendar fa fa-calendar">
                </i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel panel-default toggle panelMove panelClose panelRefresh">
            <div class="panel-heading">
                <h4 class="panel-title">Events List</h4>
            </div>
            <div class="panel-body">
                <table id="myDataTable" class="display">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Description</th>
                            <th>City</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>