
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WeeklyRecap</title>
</head>
<body>
    Hi @ViewData["FSM_Name"]!here's your weekly recap.

     @Html.Raw(ViewData["Table_Recap_Detail"])
</body>
</html>
