@model DataModel.Modal.Office

@{
    ViewBag.Title = "Detail";
}

<div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default plain btrr0 bbrr0 panelRefresh" data-mh="payments" id="dyn_4" style="height: 324px;">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-dollar"></i> Payment received</h4>
                <div class="panel-controls panel-controls-right"><a href="#" class="panel-refresh"><i class="fa fa-circle-o"></i></a></div>
            </div>
            <div class="panel-body">
                    <div id="StockChartContainer" ></div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default plain" id="dyn_6">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="glyphicon glyphicon-user"></i> Booking</h4>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <div id="customer-exp" class="custom-progressbar blue" style="width:244px;height:244px;">
                        <div class="percent">
                            80<span>%</span>
                        </div>
                        <div class="description">satisfaction</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
