@model DataModel.Modal.Office

@{
    ViewBag.Title = "Office Detail";
}

<div class="row">
    <div class="col-lg-12">
        <div id="page-header" class="clearfix">
            <div class="page-header">
                <h2>Office Detail</h2>
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default plain btrr0 bbrr0 panelRefresh" data-mh="payments" id="dyn_4">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-dollar"></i> Payment received</h4>
                    <div class="panel-controls panel-controls-right"><a href="#" class="panel-refresh"><i class="fa fa-circle-o"></i></a></div>
                </div>
                <div class="panel-body">
                    <div id="divStockChartContainer" style="height:300px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default plain" id="dyn_6">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-file-text-o"></i>Booking</h4>
                </div>
                <div class="panel-body" id="divBookingChartContainer">
                    <div class="text-center">
                        <div id="divBookingChart" class="custom-progressbar blue" style="width:244px;height:253px;">
                            <div class="percent">80<span>%</span></div>
                            <div class="description">satisfaction</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-5">
                            <div class="spark clearfix">
                                <div class="spark-info mb0">
                                    <span class="number stats-number money s32 divTotalBookingTarget" data-from="0" data-to="12857">12857</span>
                                </div>
                                <div class="spark-info mtm5">Booking Target</div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="spark clearfix">
                                <div class="spark-info mb0">
                                    <span class="number stats-number money s32 divBookingTarget" data-from="0" data-to="12857">1257</span>
                                </div>
                                <div class="spark-info mtm5">Total Booking</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12"></div>
        <div class="col-lg-4 col-md-12">
            <div class="panel panel-default plain toggle panelMove panelClose panelRefresh" id="dyn_13">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-location-arrow"></i>User Arrival</h4>
                </div>
                <div class="panel-body ">
                    <ul class="list-group recent-comments audienceWidget"></ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="panel panel-default plain toggle panelMove panelClose panelRefresh" id="dyn_13">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-file-text-o"></i>Tasks</h4>
                </div>
                <div class="panel-body ">
                    <ul class="list-group recent-comments taskWidget">
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>