
@{
    ViewBag.Title = "Index";
}

<h2>Office</h2>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <!-- .col-md-3 -->
        <div class="panel panel-info tile panelClose panelRefresh" id="dyn_0">
            <!-- Start .panel -->
            <div class="panel-heading">
                <h4 class="panel-title">Today Sales</h4>
                <div class="panel-controls panel-controls-right"><a href="#" class="panel-refresh"><i class="fa fa-circle-o"></i></a><a href="#" class="panel-close"><i class="fa fa-times"></i></a></div>
            </div>
            <div class="panel-body pt0">
                <div class="progressbar-stats-1">
                    <div class="stats">
                        <i class="l-ecommerce-cart-content"></i>
                        <div class="stats-number" data-from="0" data-to="76">76</div>
                    </div>
                    <div class="progress animated-bar flat transparent progress-bar-xs mb10 mt0">
                        <div class="progress-bar progress-bar-white" role="progressbar" data-transitiongoal="63" aria-valuenow="63" style="width: 63%;"></div>
                    </div>
                    <div class="comparison">
                        <p class="mb0"><i class="fa fa-arrow-circle-o-up s20 mr5 pull-left"></i> 10% up from last month</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .panel -->
    </div>
</div>

