
<form action="#" type="post">
    <div class="modal-dialog divUserModalDialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label for="Name">Old Password</label>
                        <input type="password" class="form-control" id="txtoldPassword" placeholder="Old Password" name="oldPassword" />
                    </div>
                    <div class="form-group">
                        <label for="Name">New Password</label>
                        <input type="password" class="form-control" id="txtnewPassword" placeholder="New Password" name="newPassword"/>
                    </div>
                    <div class="form-group">
                        <label for="Name">Confirm Password</label>
                        <input type="password" class="form-control" id="txtconfirmPassword" placeholder="Confirm Password" name="confirmPassword" />
                    </div>
                </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnAddEvent">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</form>
