
@{
    ViewBag.Title = "Calender";
}

<div class="row">
    <div class="col-lg-12">
        <div id="page-header" class="clearfix">
            <div class="page-header">
                <h2>Calender</h2>
            </div>
        </div>
        <div class="col-lg-12">
            <div id='calendar'></div>
        </div>
    </div>
</div>