body { background: #f2f2f2; }
#wrapper { height: auto; min-height: 100%; position: relative; }

.page-sidebar { width: 210px; position: absolute; height: auto; left: 0; bottom: 0; top: 0; padding-top: 50px; z-index: 2; }
.page-sidebar:after { content: ""; position: fixed; top: 0; left: 0; bottom: 0; width: 210px; background-color: #303946; z-index: -1; }
.page-sidebar .side-nav .nav > li a { padding: 10px 20px 9px; color: #8b929a; display: inline-block; width: 100%; position: relative; line-height: 20px; letter-spacing: 0.3px; transition: background; transition-duration: 0.4s; border-left: 3px solid #262d37; }
.page-sidebar .side-nav .nav > li a.active { background-color: #262d37; color: #ffffff; border-left: 3px solid #6e8cd7; }
.page-sidebar .side-nav .nav > li a:hover { background-color: #262d37; color: #ffffff; border-left: 3px solid #6e8cd7; }
.page-sidebar .side-nav .nav > li a i.sideNav-arrow { float: right; margin-right: 5px; font-size: 14px; transition: all; transition-duration: 0.4s; }
.page-sidebar .side-nav .nav > li a .txt { display: inline-block; }
.page-sidebar .side-nav .nav > li a .label { float: right; border-radius: 50%; background-color: #505e73; padding: 6px 6px; margin-top: 0; line-height: 10px; }
.page-sidebar .side-nav .nav > li a i { font-size: 20px; margin-right: 15px; color: #8b929a; float: left; transition: color; transition-duration: 0.4s; }
.page-sidebar .side-nav .nav > li ul.sub { padding-left: 0; display: none; position: relative; }
.page-sidebar .side-nav .nav > li ul.sub > li { border-bottom: none; position: relative; }
.page-sidebar .side-nav .nav > li ul.sub > li a:before { content: ""; border: 1px solid #8b929a; border-radius: 50%; width: 7px; height: 7px; float: left; margin-top: 6px; left: 26px; position: absolute; z-index: 12; background-color: #1c2128; transition: border-color; transition-duration: 0.4s; }
.page-sidebar .side-nav .nav > li ul.sub > li a:after { content: ""; height: 38px; width: 1px; background-color: #8b929a; position: absolute; top: 0; left: 29px; z-index: 10; }
.page-sidebar .sidebar-inner { position: relative; width: auto; height: 100%; }
.page-sidebar .user-info { float: left; padding: 10px 15px; }
.page-sidebar .side-nav { width: 100%; float: left; }

.page-sidebar.collapse-sidebar { width: 60px; bottom: auto; }
.page-sidebar.collapse-sidebar:after { width: 60px; }
.page-sidebar.collapse-sidebar .sidebar-panel { display: none; }
.page-sidebar.collapse-sidebar .user-info { display: none; }
.page-sidebar.collapse-sidebar .nav li { border-radius: 3px; margin-bottom: 3px; }
.page-sidebar.collapse-sidebar .nav li:hover { height: 42px; }
.page-sidebar.collapse-sidebar .nav li a { text-align: center; padding: 10px 14px 9px !important; }
.page-sidebar.collapse-sidebar .nav li a .sideNav-arrow { display: none; }
.page-sidebar.collapse-sidebar .nav li:hover a { z-index: 999; width: 221px; background-color: #303946; }
.page-sidebar.collapse-sidebar .nav li:hover a.notExpand { border-bottom-right-radius: 0; border-top-right-radius: 3px; background-color: #1c2128; color: #ffffff; }
.page-sidebar.collapse-sidebar .nav li a .label { display: none; }
.page-sidebar.collapse-sidebar .nav li a span.txt { display: none; position: absolute; left: 45px; top: 0; z-index: 9998; }
.page-sidebar.collapse-sidebar .nav li a i { float: none !important; }
.page-sidebar.collapse-sidebar .nav li:hover a i { color: #ffffff; float: left !important; }
.page-sidebar.collapse-sidebar .nav li:hover a span.txt { display: inline-block; width: auto; padding: 10px 0 10px 20px; }
.page-sidebar.collapse-sidebar .nav li:hover ul.sub { position: absolute; z-index: 9999; left: 60px; top: 40px; width: auto; display: block; margin: 0; background-color: #3b4655; list-style: none; }
.page-sidebar.collapse-sidebar .nav li:hover ul.sub li { height: auto; }
.page-sidebar.collapse-sidebar .nav li:hover ul.sub li a { width: 161px; padding: 0 5px 0 10px !important; border-radius: 0; background-color: #3b4655; box-shadow: none; font-size: 12px; text-align: left; }
.page-sidebar.collapse-sidebar .nav li:hover ul.sub li a.notExpand { border-bottom-right-radius: 0; border-top-right-radius: 3px; background-color: #1c2128; color: #ffffff; margin-top: 8px !important; }
.page-sidebar.collapse-sidebar .nav li:hover ul.sub li a:before { border: none; background: none; float: none; }
.page-sidebar.collapse-sidebar .nav li:hover ul.sub li a span.txt { position: relative; left: auto; top: auto; padding: 5px; }
.page-sidebar.collapse-sidebar .nav li:hover ul.sub li a:after { background: none; }
.page-sidebar.collapse-sidebar .nav li:hover ul.sub li.hasSub ul.sub { left: 0; top: 37px; background-color: #3b4655; }
.sidebar-panel { margin: 0; width: 100%; height: auto; float: left; position: relative; }
.sidebar-panel .sidebar-panel-title { font-size: 13px; padding: 8px 15px 8px 17px; margin: 0; background-color: #455264; color: #ffffff; border-top: 1px solid #2e3743; border-bottom: 1px solid #2e3743; }

/* --- Customized Dropdown ---- */
.dropdown-menu.right { right: 0; left: auto; }
.dropdown-menu.right:before { left: auto !important; right: 17px; }
.dropdown-menu.right:after { left: auto !important; right: 18px; }

/* --- Extra Css as Required --- */
.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }
.divUserModalDialog { width: 400px; }

