@model List<CustomAuthentication.User>

<form action="@Url.Action("Add", "Conventions")" type="post">
    <input type="hidden" id="hdnOfficeID" />
    <input type="hidden" id="hdnUserID" />
    <div class="modal-dialog divUserModalDialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Convention</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" id="txtName" placeholder="Name" name="name" />
                </div>
                <div class="form-group">
                    <label for="Name">Duration</label>
                    <input type="text" class="form-control" id="datetimerange" name="datetimerange" />
                </div>
                <div class="form-group">
                    <label for="Name">City</label>
                    <input type="text" class="form-control" id="txtCity" placeholder="City" name="city" />
                </div>
                <div class="form-group">
                    <label for="txtDescription">Description</label>
                    <textarea class="form-control" rows="5" name="txtDescription" id="txtDescription"></textarea>
                </div>
                <div class="form-group">
                    <label for="SelectOffice">Select User</label>
                    <select class="form-control" id="dwnUserId" name="ddlUser">
                        <option value="">Select User</option>
                        @foreach (var role in Model)
                        {
                            <option value="@role.UserId">@role.FirstName @role.LastName</option>
                        }
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnAddConvention">Add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</form>


