@model DataModel.Modal.Convention
@{ var attachments = (List<DataModel.Modal.ConventionAttachment>)ViewData["Attachments"]; }
<form action="#" type="post" id="frmConventionUpload">
    <input type="hidden" id="hdnConventionID" value="@Model.ConventionId" />
    <div class="modal-dialog divUserModalDialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload Attachment</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="">Attachment upload</label>
                    <input type="file" name="fileImage" class="filestyle" data-buttontext="Find file" data-buttonname="btn-danger" data-iconname="fa fa-plus" id="fuImage" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);" multiple>
                    <div class="bootstrap-filestyle input-group">
                        <input type="text" class="form-control " disabled="" id="fuImageName">
                        <span class="group-span-filestyle input-group-btn" tabindex="0">
                            <label for="fuImage" class="btn btn-danger ">
                                <span class="filestyleicon fa fa-plus"></span> Find file
                            </label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnEditEvent">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
            <div class="panel-body">
                <div class="table-responsive" style="overflow: hidden; width: 100%; max-height: 300px; overflow-y : auto;">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="per40">File Name</th>
                                <th class="per15">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var attachment in attachments)
                            {
                                <tr>
                                    <td>
                                        @attachment.FileResource.name
                                    </td>
                                    <td><button value="@attachment.ConventionAttachmentId" class="delete btn btn-default" type="button">Delete</button></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
