<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DashBoard</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <!-- Force IE9 to render in normal mode -->
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <link href="~/Content/plugins/awesome-font/css/awesome-font.css" rel="stylesheet" />
    <link href="~/Content/plugins/linea-font/font.css" rel="stylesheet" />
    <link href="~/Content/plugins/foundation-icons/styles.css" rel="stylesheet" />
    <link href="~/Content/plugins/animate.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/main.css" rel="stylesheet" />

    <link href="~/Content/DataTables/css/dataTables.bootstrap.css" rel="stylesheet" />

    <link href="~/Content/Common/custom.css" rel="stylesheet" />

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/global.js"></script>
</head>
<body>
    @Html.Partial("_Header")
    <div id="wrapper">
        @Html.Partial("_LeftPannel")
        <div class="page-content right-sidebar-page clearfix collapsed-sidebar">
            <div class="page-content-wrapper">
                <div class="page-content-inner">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <div id="divCommonModalPlaceHolder" class="modal fade"></div>
    <script src="~/Scripts/jquery-1.11.3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/Common/common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('#myDataTable').dataTable({
                renderer: {
                    "header": "bootstrap",
                    "pageButton": "bootstrap"
                },
                "ajax": {
                    "url": "@Url.Action("GetUsers", "User")",
                    "type": "POST"
                },
                "displayLength": 25,
                responsive: true,
                "deferRender": true,
                "columns": [{ "data": "firstName" }, { "data": "lastName" }, { "data": "userRoles" }, {
                    "data": "createDate"
                }, {
                    "data": null,
                    "createdCell": function (cell, cellData, rowData, rowIndex, colIndex) {
                        var currentObj = $(cell);
                        currentObj.css({ "text-align": "center" }).data(rowData);
                        currentObj.off("click.dataTableEditLink").on("click.dataTableEditLink", function () { alert(1); });
                    },
                    render: function (o) { return '<a href="#"><i class="ui-tooltip fa fa-pencil" style="font-size: 22px;" data-original-title="Edit"></i></a>'; },
                    "orderable": false,
                    "width": '2%'
                }, {
                    "data": null,
                    "createdCell": function (cell, cellData, rowData, rowIndex, colIndex) {
                        var currentObj = $(cell);
                        currentObj.css({ "text-align": "center" }).data(rowData);
                        currentObj.off("click.dataTableDeleteLink").on("click.dataTableDeleteLink", function () { alert(1); });
                    },
                    render: function (o) { return '<a href="#"><i class="ui-tooltip fa fa-trash-o" style="font-size: 22px;" data-original-title="Delete"></i></a>'; },
                    "orderable": false,
                    "width": '2%'
                }]
            });
            table.removeClass('display').addClass('table table-striped table-bordered');
            //setInterval(function () {
            //    table.api().ajax.reload(null, false); // user paging is not reset on reload
            //}, 3000)
        });

    </script>
</body>
</html>