.panel { position: relative; margin-bottom: 20px; border-radius: 3px; border: 0; box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1); }
.panel.highlight-panel { box-shadow: 0px 0px 0px 2px #29b6d8; transition: box-shadow; transition-duration: 0.4s; }
.panel.panel-default > .panel-heading { color: #333333; }
.panel .panel-controls-right { width: auto; float: right; position: absolute; right: 10px; top: 0; }
.panel .panel-controls-right.panel-controls-hide { display: none; }
.panel .panel-controls-right a { text-decoration: none; float: left; width: auto; padding: 11px 5px; }
.panel .panel-controls-right a i { font-size: 12px; color: #333333; }
.panel .panel-controls-right a:hover i { color: #262626; }
.panel .panel-heading.white-bg .panel-controls a i { color: #333333; }
.panel .panel-heading.white-bg .panel-controls a:hover { color: #404040; }
.panel.tile { box-shadow: none; border: 1px solid #e0e0e0; }
.panel.tile .panel-heading { border-bottom: none; }
.panel.tile.panel-default { background-color: #e3e3e3; border: 1px solid #e0e0e0; }
.panel.tile.panel-default .panel-heading { background-color: #e3e3e3; }
.panel.tile.panel-default .panel-body { background-color: #e3e3e3; }
.panel.tile.panel-primary { background-color: #0a97b9; border: 1px solid #0a97b9; }
.panel.tile.panel-primary .panel-body { background-color: #0a97b9; }
.panel.tile.panel-info { background-color: #29b6d8; border: 1px solid #22b7bb; }
.panel.tile.panel-info .panel-body { background-color: #29b6d8; }
.panel.tile.panel-success { background-color: #66c796; border: 1px solid #53c077; }
.panel.tile.panel-success .panel-body { background-color: #66c796; }
.panel.tile.panel-danger { background-color: #df6a78; border: 1px solid #da557b; }
.panel.tile.panel-danger .panel-body { background-color: #df6a78; }
.panel.tile.panel-warning { background-color: #f4ad49; border: 1px solid #f38231; }
.panel.tile.panel-warning .panel-body { background-color: #f4ad49; }
.panel.plain.panel-default { border: 1px solid #e5e5e5; /* border-top: 1px solid #e5e5e5; */ box-shadow: none; }
.panel.plain.panel-default .panel-heading { background-color: #ffffff; color: #333333; }
.panel.plain.panel-default .panel-heading > .panel-controls > a i { color: #222222; }
.panel.plain.panel-default .panel-heading > .panel-controls > a:hover i { color: #090909; }
.panel.plain.panel-default .panel-body { border-left: none; border-right: none; }
.panel.plain.panel-default .panel-footer { background-color: #ffffff; color: #333333; border-top: none; border-left: none; border-right: none; }
.panel.plain.panel-primary { border: 1px solid #e5e5e5; border-top: 1px solid #0a97b9; box-shadow: none; }
.panel.plain.panel-primary .panel-heading { background-color: #ffffff; color: #333333; }
.panel.plain.panel-primary .panel-heading > .panel-controls > a i { color: #222222; }
.panel.plain.panel-primary .panel-heading > .panel-controls > a:hover i { color: #090909; }
.panel.plain.panel-primary .panel-body { border-left: none; border-right: none; }
.panel.plain.panel-primary .panel-footer { background-color: #ffffff; color: #333333; border-top: none; border-left: none; border-right: none; }
.panel.plain.panel-success { border: 1px solid #e5e5e5; border-top: 1px solid #53c077; box-shadow: none; }
.panel.plain.panel-success .panel-heading { background-color: #ffffff; color: #333333; }
.panel.plain.panel-success .panel-heading > .panel-controls > a i { color: #222222; }
.panel.plain.panel-success .panel-heading > .panel-controls > a:hover i { color: #090909; }
.panel.plain.panel-success .panel-body { border-left: none; border-right: none; }
.panel.plain.panel-success .panel-footer { background-color: #ffffff; color: #333333; border-top: none; border-left: none; border-right: none; }
.panel.plain.panel-warning { border: 1px solid #e5e5e5; border-top: 1px solid #f38231; box-shadow: none; }
.panel.plain.panel-warning .panel-heading { background-color: #ffffff; color: #333333; }
.panel.plain.panel-warning .panel-heading > .panel-controls > a i { color: #222222; }
.panel.plain.panel-warning .panel-heading > .panel-controls > a:hover i { color: #090909; }
.panel.plain.panel-warning .panel-body { border-left: none; border-right: none; }
.panel.plain.panel-warning .panel-footer { background-color: #ffffff; color: #333333; border-top: none; border-left: none; border-right: none; }
.panel.plain.panel-danger { border: 1px solid #e5e5e5; border-top: 1px solid #da557b; box-shadow: none; }
.panel.plain.panel-danger .panel-heading { background-color: #ffffff; color: #333333; }
.panel.plain.panel-danger .panel-heading > .panel-controls > a i { color: #222222; }
.panel.plain.panel-danger .panel-heading > .panel-controls > a:hover i { color: #090909; }
.panel.plain.panel-danger .panel-body { border-left: none; border-right: none; }
.panel.plain.panel-danger .panel-footer { background-color: #ffffff; color: #333333; border-top: none; border-left: none; border-right: none; }
.panel.plain.panel-info { border: 1px solid #e5e5e5; border-top: 1px solid #22b7bb; box-shadow: none; }
.panel.plain.panel-info .panel-heading { background-color: #ffffff; color: #333333; }
.panel.plain.panel-info .panel-heading > .panel-controls > a i { color: #222222; }
.panel.plain.panel-info .panel-heading > .panel-controls > a:hover i { color: #090909; }
.panel.plain.panel-info .panel-body { border-left: none; border-right: none; }
.panel.plain.panel-info .panel-footer { background-color: #ffffff; color: #333333; border-top: none; border-left: none; border-right: none; }
.panel.plain .panel-heading { border-bottom: none; }
.panel-heading { text-align: left; padding: 0 15px; min-height: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; }
.panel-heading:before,
.panel-heading:after { content: " "; display: table; }
.panel-heading:after { clear: both; }
.panel-heading:before,
.panel-heading:after { content: " "; display: table; }
.panel-heading:after { clear: both; }
.panel-heading .panel-title { font-size: 16px; font-weight: normal; margin-right: 10px; padding: 12px 0; min-height: 42px; }
.panel-heading .panel-title > i { font-size: 16px; margin-right: 5px; }
.panel-heading .panel-title > i[class^="glyphicon"] { top: -2px !important; margin-top: -1px; }
.panel-heading.min { border-bottom: none; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.panel-heading.white-bg { color: #333333; background: #ffffff !important; background-color: #ffffff !important; }
.panel-heading.red-bg { background: #db5565 !important; background-color: #db5565 !important; }
.panel-heading.blue-bg { background: #0bacd3 !important; background-color: #0bacd3 !important; }
.panel-heading.green-bg { background: #51bf87 !important; background-color: #51bf87 !important; }
.panel-body:before,
.panel-body:after { content: " "; display: table; }
.panel-body:after { clear: both; }
.panel-body:before,
.panel-body:after { content: " "; display: table; }
.panel-body:after { clear: both; }
.panel-body.red-bg { color: #ffffff; background: #db5565 !important; background-color: #db5565 !important; }
.panel-body.blue-bg { color: #ffffff; background: #0bacd3 !important; background-color: #0bacd3 !important; }
.panel-body.green-bg { color: #ffffff; background: #51bf87 !important; background-color: #51bf87 !important; }
.panel-body .page-header h1,
.panel-body .page-header h2,
.panel-body .page-header h3,
.panel-body .page-header h4,
.panel-body .page-header h5,
.panel-body .page-header h6 { font-weight: normal; }
.panel-body .scroll-horizontal { overflow-x: hidden; }
.panel-footer { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; color: #ffffff; }
.panel-footer:before,
.panel-footer:after { content: " "; display: table; }
.panel-footer:after { clear: both; }
.panel-footer:before,
.panel-footer:after { content: " "; display: table; }
.panel-footer:after { clear: both; }
.panel-footer.white-bg { color: #333333; background: #ffffff !important; background-color: #ffffff !important; }
.panel-footer.red-bg { background: #db5565 !important; background-color: #db5565 !important; }
.panel-footer.blue-bg { background: #0bacd3 !important; background-color: #0bacd3 !important; }
.panel-footer.green-bg { background: #51bf87 !important; background-color: #51bf87 !important; }
.panel-refresh-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #555555; opacity: 0.2; filter: alpha(opacity=20); border-radius: 3px; }
.progress-loader { position: absolute; top: 50%; left: 50%; width: 32px; height: 32px; margin-top: -16px; margin-left: -16px; }
.progress-loader i { font-size: 24px; color: #ffffff; margin-top: 4px; margin-left: 4px; }
.panel-default > .panel-heading > .panel-controls-left > a i,
.panel-default > .panel-heading > .panel-controls-right > a i { color: #333333; }
.panel-default > .panel-heading > .panel-controls-left > a:hover i,
.panel-default > .panel-heading > .panel-controls-right > a:hover i { color: #090909; }
.panel-success > .panel-heading > .panel-controls-left > a i,
.panel-warning > .panel-heading > .panel-controls-left > a i,
.panel-danger > .panel-heading > .panel-controls-left > a i,
.panel-info > .panel-heading > .panel-controls-left > a i,
.panel-primary > .panel-heading > .panel-controls-left > a i,
.panel-success > .panel-heading > .panel-controls-right > a i,
.panel-warning > .panel-heading > .panel-controls-right > a i,
.panel-danger > .panel-heading > .panel-controls-right > a i,
.panel-info > .panel-heading > .panel-controls-right > a i,
.panel-primary > .panel-heading > .panel-controls-right > a i { color: #ffffff; }
.panel-success > .panel-heading > .panel-controls-left > a:hover i,
.panel-warning > .panel-heading > .panel-controls-left > a:hover i,
.panel-danger > .panel-heading > .panel-controls-left > a:hover i,
.panel-info > .panel-heading > .panel-controls-left > a:hover i,
.panel-primary > .panel-heading > .panel-controls-left > a:hover i,
.panel-success > .panel-heading > .panel-controls-right > a:hover i,
.panel-warning > .panel-heading > .panel-controls-right > a:hover i,
.panel-danger > .panel-heading > .panel-controls-right > a:hover i,
.panel-info > .panel-heading > .panel-controls-right > a:hover i,
.panel-primary > .panel-heading > .panel-controls-right > a:hover i { color: #e6e6e6; }
.ui-sortable .panel-heading { cursor: move; }
.panel-placeholder { border: 1px dashed #e3e3e3; background: #cccccc; margin-bottom: 25px; border-radius: 3px; }
.panel-placeholder { border: 1px dashed #e3e3e3; background: #cccccc; margin-bottom: 25px; border-radius: 3px; }
.panel.plain.panel-default { border: 1px solid #e5e5e5; border-top: 1px solid #e5e5e5; box-shadow: none; }
.custom-progressbar { display: inline-block; position: relative; }
.custom-progressbar.blue .percent, .custom-progressbar.blue .description { color: #0a97b9; }
.custom-progressbar .percent { top: 50%; left: 0; margin-top: -55px; font-size: 64px; }
.custom-progressbar .percent, .custom-progressbar .description { display: inline-block; width: 100%; position: absolute; }
.custom-progressbar .description { top: 50%; left: 0; margin-top: 20px; font-size: 20px; text-transform: uppercase; }
.custom-progressbar svg { display: block; width: 100%; }
.custom-progressbar .percent span { font-size: 24px; padding-top: 10px; vertical-align: text-top; display: inline-block; }
[class^="glyphicon"]:before,
[class*=" glyphicon"]:before { line-height: 1; vertical-align: middle; }
#StockChartContainer { margin-top: -30px; }
.panel-default div.panel-body:last-of-type { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.panel-default > .panel-body { border-top: none; }
.recent-comments { margin-bottom: 0; }
.recent-comments li.comment-success { border-left-color: #53c077; }
.recent-comments li.comment-info { border-left-color: #22b7bb; }
.recent-comments li.comment-warning { border-left-color: #f38231; }
.recent-comments li.comment-danger { border-left-color: #da557b; }
.list-group .list-group-item { transition: all; transition-duration: 0.4s; }
.recent-comments li { border-radius: 0; border-top-width: 0; border-left-width: 4px; border-bottom-width: 0; border-right-width: 0; margin-bottom: 10px; background-color: #f2f2f2; }
.recent-comments li p { margin-top: 2px; }
.text-ellipsis { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.text-muted { color: #777777; }

