.custom-progressbar { display: inline-block; position: relative; }
.custom-progressbar.blue .percent, .custom-progressbar.blue .description { color: #0a97b9; }
.custom-progressbar .percent { top: 50%; left: 0; margin-top: -55px; font-size: 64px; }
.custom-progressbar .percent, .custom-progressbar .description { display: inline-block; width: 100%; position: absolute; }
.custom-progressbar .description { top: 50%; left: 0; margin-top: 20px; font-size: 20px; text-transform: uppercase; }
.custom-progressbar svg { display: block; width: 100%; }
.custom-progressbar .percent span { font-size: 24px; padding-top: 10px; vertical-align: text-top; display: inline-block; }
[class^="glyphicon"]:before,
[class*=" glyphicon"]:before { line-height: 1; vertical-align: middle; }
#StockChartContainer { margin-top: -30px; }
.panel-default div.panel-body:last-of-type { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.panel-default > .panel-body { border-top: none; }
.recent-comments { margin-bottom: 0; }
.recent-comments li.comment-success { border-left-color: #53c077; }
.recent-comments li.comment-info { border-left-color: #22b7bb; }
.recent-comments li.comment-warning { border-left-color: #f38231; }
.recent-comments li.comment-danger { border-left-color: #da557b; }
.list-group .list-group-item { transition: all; transition-duration: 0.4s; }
.recent-comments li { border-radius: 0; border-top-width: 0; border-left-width: 4px; border-bottom-width: 0; border-right-width: 0; margin-bottom: 10px; background-color: #f2f2f2; }
.recent-comments li p { margin-top: 2px; }
.text-ellipsis { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.text-muted { color: #777777; }
