
@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "DashBoard";
}

<div class="row">
    <div class="col-lg-12">
        <div id="page-header" class="clearfix">
            <div class="page-header">
                <h2>DashBoard</h2>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12 divUserFundRaisingByOffices">
            <div class="panel panel-default plain btrr0 bbrr0 panelRefresh">
                <div class="panel-heading">
                    <h4 class="panel-title">Fund Raising</h4>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12 divUserBookingByOffices">
            <div class="panel panel-default plain btrr0 bbrr0 panelRefresh">
                <div class="panel-heading">
                    <h4 class="panel-title">Booking</h4>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12 divUserBookingByOffices">
            <div class="panel panel-default plain btrr0 bbrr0 panelRefresh">
                <div class="panel-heading">
                    <h4 class="panel-title">GSB Fund Raising</h4>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12 divUserBookingByOffices">
            <div class="panel panel-default plain btrr0 bbrr0 panelRefresh">
                <div class="panel-heading">
                    <h4 class="panel-title">Arrival</h4>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
</div>