
@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "DashBoard";
}

<div class="row">
    <div class="col-lg-12">
        <div id="page-header" class="clearfix">
            <div class="page-header">
                <h2>DashBoard</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 divUserFundRaisingByOffices">
                <div class="panel panel-default plain btrr0 bbrr0 panelRefresh">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-dollar"></i>Fund Raising</h4>
                    </div>
                    <div class="panel-body" id="divFundRaisingChartContainer">
                        <div id="divFundRaisingChart" class="" style="height: 290px;"></div>
                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                <div class="spark clearfix">
                                    <div class="spark-info mb0">
                                        <span class="number stats-number money s32 divTotalFundRaisingTarget" data-from="0" data-to="12857">12857</span>
                                    </div>
                                    <div class="spark-info mtm5">Fund Raising Target</div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="spark clearfix">
                                    <div class="spark-info mb0">
                                        <span class="number stats-number money s32 divFundRaisingTarget" data-from="0" data-to="12857">1257</span>
                                    </div>
                                    <div class="spark-info mtm5">Total Fund Raised</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12 divUserBookingByOffices">
                <div class="panel panel-default plain btrr0 bbrr0 panelRefresh">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-file-text-o"></i>Booking</h4>
                    </div>
                    <div class="panel-body" id="divBookingChartContainer">
                        <div id="divBookingChart" class="" style="height: 290px;"></div>
                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                <div class="spark clearfix">
                                    <div class="spark-info mb0">
                                        <span class="number stats-number money s32 divTotalFundRaisingTarget" data-from="0" data-to="12857">12857</span>
                                    </div>
                                    <div class="spark-info mtm5">Booking Target</div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="spark clearfix">
                                    <div class="spark-info mb0">
                                        <span class="number stats-number money s32 divFundRaisingTarget" data-from="0" data-to="12857">1257</span>
                                    </div>
                                    <div class="spark-info mtm5">Total Booking</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 divUserBookingByOffices">
                <div class="panel panel-default plain btrr0 bbrr0 panelRefresh">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-dollar"></i>GSB Fund Raising</h4>
                    </div>
                    <div class="panel-body" id="divGSBChartContainer">
                        <div id="divGSBChart" class="" style="height: 290px;"></div>
                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                <div class="spark clearfix">
                                    <div class="spark-info mb0">
                                        <span class="number stats-number money s32 divTotalFundRaisingTarget" data-from="0" data-to="12857">12857</span>
                                    </div>
                                    <div class="spark-info mtm5">Booking Target</div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="spark clearfix">
                                    <div class="spark-info mb0">
                                        <span class="number stats-number money s32 divFundRaisingTarget" data-from="0" data-to="12857">1257</span>
                                    </div>
                                    <div class="spark-info mtm5">Total Booking</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12 divUserBookingByOffices">
                <div class="panel panel-default plain btrr0 bbrr0 panelRefresh">
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-location-arrow"></i>Arrival</h4>
                    </div>
                    <div class="panel-body" id="divArrivalChartContainer">
                        <div id="divArrivalChart" class="" style="height: 290px;"></div>
                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                <div class="spark clearfix">
                                    <div class="spark-info mb0">
                                        <span class="number stats-number money s32 divTotalFundRaisingTarget" data-from="0" data-to="12857">12857</span>
                                    </div>
                                    <div class="spark-info mtm5">Booking Target</div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="spark clearfix">
                                    <div class="spark-info mb0">
                                        <span class="number stats-number money s32 divFundRaisingTarget" data-from="0" data-to="12857">1257</span>
                                    </div>
                                    <div class="spark-info mtm5">Total Booking</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>