
@{
    ViewBag.Title = "DashBoard";
}

<div class="row">
    <div class="col-lg-12">
        <div id="page-header">
            <div class="page-header">
                <h2>DashBoard</h2>
            </div>
            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; margin-top : 20px; ">
                <i class=" glyphicon glyphicon-calendar fa fa-calendar">
                </i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12 divUserFundRaisingByOffices">
            <div class="panel panel-default plain btrr0 bbrr0 panelRefresh">
                <div class="panel-heading">
                    <h4 class="panel-title lead"><i class="fa fa-dollar"></i>Fund Raising</h4>
                </div>
                <div class="panel-body" id="divFundRaisingChartContainer">
                    <div id="divFundRaisingChart" class="" style="height: 290px;"></div>
                    <div class="col-lg-12">
                        <div class="col-lg-3">
                            <div class="spark clearfix">
                                <div class="spark-info mb0">
                                    <span class="number stats-number money s32 divTotalFundRaisingTarget" data-from="0" data-to="12857">0</span>
                                </div>
                                <div class="spark-info mtm5">Fund Raising Target</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="spark clearfix">
                                <div class="spark-info mb0">
                                    <span class="number stats-number money s32 divFundRaisingTarget" data-from="0" data-to="12857">0</span>
                                </div>
                                <div class="spark-info mtm5">Total Fund Raised</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12 divUserBookingByOffices">
            <div class="panel panel-default plain btrr0 bbrr0 panelRefresh">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-file-text-o"></i>Booking</h4>
                </div>
                <div class="panel-body" id="divBookingChartContainer">
                    <div id="divBookingChart" class="" style="height: 290px;"></div>
                    <div class="col-lg-12">
                        <div class="col-lg-3">
                            <div class="spark clearfix">
                                <div class="spark-info mb0">
                                    <span class="number stats-number s32 divTotalFundRaisingTarget" data-from="0" data-to="12857">0</span>
                                </div>
                                <div class="spark-info mtm5">Booking Target</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="spark clearfix">
                                <div class="spark-info mb0">
                                    <span class="number stats-number s32 divFundRaisingTarget" data-from="0" data-to="12857">0</span>
                                </div>
                                <div class="spark-info mtm5">Total Booking</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-xs-12 divUserBookingByOffices">
            <div class="panel panel-default plain btrr0 bbrr0 panelRefresh">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-dollar"></i>GSB Fund Raising</h4>
                </div>
                <div class="panel-body" id="divGSBChartContainer">
                    <div id="divGSBChart" class="" style="height: 290px;"></div>
                    <div class="col-lg-12">
                        <div class="col-lg-4">
                            <div class="spark clearfix">
                                <div class="spark-info mb0">
                                    <span class="number stats-number money s32 divTotalFundRaisingTarget" data-from="0" data-to="12857">0</span>
                                </div>
                                <div class="spark-info mtm5">GSB Fund Raising Target</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="spark clearfix">
                                <div class="spark-info mb0">
                                    <span class="number stats-number money s32 divFundRaisingTarget" data-from="0" data-to="12857">0</span>
                                </div>
                                <div class="spark-info mtm5">GSB Fund Raised</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-xs-12 divUserBookingByOffices">
            <div class="panel panel-default plain btrr0 bbrr0 panelRefresh">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-location-arrow"></i>Arrival</h4>
                </div>
                <div class="panel-body" id="divArrivalChartContainer">
                    <div id="divArrivalChart" class="" style="height: 290px;"></div>
                    <div class="col-lg-12">
                        <div class="col-lg-3">
                            <div class="spark clearfix">
                                <div class="spark-info mb0">
                                    <span class="number stats-number s32 divTotalFundRaisingTarget" data-from="0" data-to="12857">0</span>
                                </div>
                                <div class="spark-info mtm5">Arrival Target</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="spark clearfix">
                                <div class="spark-info mb0">
                                    <span class="number stats-number s32 divFundRaisingTarget" data-from="0" data-to="12857">0</span>
                                </div>
                                <div class="spark-info mtm5">Total Arrived</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>